<section class="experiences">
  <div class="experiences__container">
    <h2 class="experiences__title title title--s34">Tourist Experiences</h2>
    <div class="swiper progressionBarSwiper">
      <div class="swiper-wrapper progressionBarSwiper__wrapper">
        <div
          class="swiper-slide progressionBarSwiper__slide slide-progressionBarSwiper"
        >
          <picture class="slide-progressionBarSwiper__picture">
            <source
              srcset="
                ./images/content/experiences/desktop/author-photo.jpg    1x,
                ./images/content/experiences/desktop/author-photo@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/content/experiences/tablet/author-photo.jpg    1x,
                ./images/content/experiences/tablet/author-photo@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/content/experiences/mobile/author-photo.jpg    1x,
                ./images/content/experiences/mobile/author-photo@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slide-progressionBarSwiper__client-photo"
              src="./images/content/experiences/mobile/author-photo.jpg"
              alt="Client Photo"
            />
          </picture>

          <div class="slide-progressionBarSwiper__body">
            <h3 class="slide-progressionBarSwiper__name">Nikita Taranenko</h3>
            <p class="slide-progressionBarSwiper__location">Rome</p>
            <p class="slide-progressionBarSwiper__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              viverra varius sem mi ut pretium, tortor nulla gravida. Turpis in
              nec tellus egestas. Vehicula ut facilisis velit turpis nulla nunc
              lobortis lobortis convallis.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In viverra varius sem mi ut pretium,
              tortor nulla gravida. Turpis in nec tellus egestas. Vehicula ut
              facilisis velit turpis nulla nunc lobortis lobortis convallis.
            </p>
            <div class="slide-progressionBarSwiper__rating">
              <span class="slide-progressionBarSwiper__value">5</span>
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
            </div>
          </div>
        </div>
        <div
          class="swiper-slide progressionBarSwiper__slide slide-progressionBarSwiper"
        >
          <picture class="slide-progressionBarSwiper__picture">
            <source
              srcset="
                ./images/content/experiences/desktop/author-photo.jpg    1x,
                ./images/content/experiences/desktop/author-photo@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/content/experiences/tablet/author-photo.jpg    1x,
                ./images/content/experiences/tablet/author-photo@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/content/experiences/mobile/author-photo.jpg    1x,
                ./images/content/experiences/mobile/author-photo@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slide-progressionBarSwiper__client-photo"
              src="./images/content/experiences/mobile/author-photo.jpg"
              alt="Client Photo"
            />
          </picture>
          <div class="slide-progressionBarSwiper__body">
            <h3 class="slide-progressionBarSwiper__name">Nikita Taranenko</h3>
            <p class="slide-progressionBarSwiper__location">Rome</p>
            <p class="slide-progressionBarSwiper__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              viverra varius sem mi ut pretium, tortor nulla gravida. Turpis in
              nec tellus egestas. Vehicula ut facilisis velit turpis nulla nunc
              lobortis lobortis convallis.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In viverra varius sem mi ut pretium,
              tortor nulla gravida. Turpis in nec tellus egestas. Vehicula ut
              facilisis velit turpis nulla nunc lobortis lobortis convallis.
            </p>
            <div class="slide-progressionBarSwiper__rating">
              <span class="slide-progressionBarSwiper__value">5</span>
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
            </div>
          </div>
        </div>
        <div
          class="swiper-slide progressionBarSwiper__slide slide-progressionBarSwiper"
        >
          <picture class="slide-progressionBarSwiper__picture">
            <source
              srcset="
                ./images/content/experiences/desktop/author-photo.jpg    1x,
                ./images/content/experiences/desktop/author-photo@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/content/experiences/tablet/author-photo.jpg    1x,
                ./images/content/experiences/tablet/author-photo@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/content/experiences/mobile/author-photo.jpg    1x,
                ./images/content/experiences/mobile/author-photo@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slide-progressionBarSwiper__client-photo"
              src="./images/content/experiences/mobile/author-photo.jpg"
              alt="Client Photo"
            />
          </picture>
          <div class="slide-progressionBarSwiper__body">
            <h3 class="slide-progressionBarSwiper__name">Nikita Taranenko</h3>
            <p class="slide-progressionBarSwiper__location">Rome</p>
            <p class="slide-progressionBarSwiper__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              viverra varius sem mi ut pretium, tortor nulla gravida. Turpis in
              nec tellus egestas. Vehicula ut facilisis velit turpis nulla nunc
              lobortis lobortis convallis.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In viverra varius sem mi ut pretium,
              tortor nulla gravida. Turpis in nec tellus egestas. Vehicula ut
              facilisis velit turpis nulla nunc lobortis lobortis convallis.
            </p>
            <div class="slide-progressionBarSwiper__rating">
              <span class="slide-progressionBarSwiper__value">5</span>
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
            </div>
          </div>
        </div>
        <div
          class="swiper-slide progressionBarSwiper__slide slide-progressionBarSwiper"
        >
          <picture class="slide-progressionBarSwiper__picture">
            <source
              srcset="
                ./images/content/experiences/desktop/author-photo.jpg    1x,
                ./images/content/experiences/desktop/author-photo@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/content/experiences/tablet/author-photo.jpg    1x,
                ./images/content/experiences/tablet/author-photo@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/content/experiences/mobile/author-photo.jpg    1x,
                ./images/content/experiences/mobile/author-photo@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slide-progressionBarSwiper__client-photo"
              src="./images/content/experiences/mobile/author-photo.jpg"
              alt="Client Photo"
            />
          </picture>
          <div class="slide-progressionBarSwiper__body">
            <h3 class="slide-progressionBarSwiper__name">Nikita Taranenko</h3>
            <p class="slide-progressionBarSwiper__location">Rome</p>
            <p class="slide-progressionBarSwiper__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              viverra varius sem mi ut pretium, tortor nulla gravida. Turpis in
              nec tellus egestas. Vehicula ut facilisis velit turpis nulla nunc
              lobortis lobortis convallis.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In viverra varius sem mi ut pretium,
              tortor nulla gravida. Turpis in nec tellus egestas. Vehicula ut
              facilisis velit turpis nulla nunc lobortis lobortis convallis.
            </p>
            <div class="slide-progressionBarSwiper__rating">
              <span class="slide-progressionBarSwiper__value">5</span>
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
            </div>
          </div>
        </div>
        <div
          class="swiper-slide progressionBarSwiper__slide slide-progressionBarSwiper"
        >
          <picture class="slide-progressionBarSwiper__picture">
            <source
              srcset="
                ./images/content/experiences/desktop/author-photo.jpg    1x,
                ./images/content/experiences/desktop/author-photo@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/content/experiences/tablet/author-photo.jpg    1x,
                ./images/content/experiences/tablet/author-photo@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/content/experiences/mobile/author-photo.jpg    1x,
                ./images/content/experiences/mobile/author-photo@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="slide-progressionBarSwiper__client-photo"
              src="./images/content/experiences/mobile/author-photo.jpg"
              alt="Client Photo"
            />
          </picture>
          <div class="slide-progressionBarSwiper__body">
            <h3 class="slide-progressionBarSwiper__name">Nikita Taranenko</h3>
            <p class="slide-progressionBarSwiper__location">Rome</p>
            <p class="slide-progressionBarSwiper__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              viverra varius sem mi ut pretium, tortor nulla gravida. Turpis in
              nec tellus egestas. Vehicula ut facilisis velit turpis nulla nunc
              lobortis lobortis convallis.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In viverra varius sem mi ut pretium,
              tortor nulla gravida. Turpis in nec tellus egestas. Vehicula ut
              facilisis velit turpis nulla nunc lobortis lobortis convallis.
            </p>
            <div class="slide-progressionBarSwiper__rating">
              <span class="slide-progressionBarSwiper__value">5</span>
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
              <img src="./images/icons/rating-star.svg" alt="Rating Star" />
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-button-next progressionBarSwiper__swiper-button-next"
      ></div>
      <div
        class="swiper-button-prev progressionBarSwiper__swiper-button-prev"
      ></div>
      <div
        class="progressionBarSwiper__swiper-pagination swiper-pagination"
      ></div>
    </div>
  </div>
</section>
