<!-- <footer class="footer">
  <div class="footer__container">
    <p class="footer__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum deserunt
      ullam quos a assumenda ipsam quidem et quis hic voluptatibus animi laborum
      quia, commodi sed obcaecati nemo iure maxime. Voluptatibus magni mollitia
      officiis adipisci provident, maiores rem voluptas qui libero amet hic et
      delectus non? Temporibus voluptates quo, magnam tempora sequi dolorem
      corrupti velit est veritatis harum perspiciatis deleniti porro laudantium,
      officia eius, quam doloremque magni possimus hic quibusdam. Quia, aliquid
      quibusdam est itaque ipsa minima libero corporis quis fugit in maxime
      alias aliquam repellendus accusamus soluta excepturi adipisci? Non animi
      consectetur sit dolor soluta facere, saepe laudantium error ea!
    </p>
  </div>
</footer> -->
