<footer class="footer">
  <div class="footer__container">
    <a href="./index.html" class="footer__logo">
      <img src="./images/icons/logo.svg" alt="Logo" />
    </a>
    <form class="footer__form-subscribe form-subscribe">
      <label for="email" class="form-subscribe__label">Subscribe to stay</label>
      <div>
        <input
          type="email"
          id="email"
          class="form-subscribe__input"
          placeholder="Enter your email Address"
        />
        <button type="submit" class="form-subscribe__submit-btn">
          Subscribe
        </button>
      </div>
    </form>
    <ul class="footer__privacy-list privacy-list">
      <li class="privacy-list__item">
        <a href="#" class="privacy-list__link">Privacy Policy</a>
      </li>
      <li class="privacy-list__item">
        <a href="#" class="privacy-list__link">Terms of Use</a>
      </li>
      <li class="privacy-list__item">
        <a href="#" class="privacy-list__link">Sales and Refunds</a>
      </li>
      <li class="privacy-list__item">
        <a href="#" class="privacy-list__link">Legal</a>
      </li>
      <li class="privacy-list__item">
        <a href="#" class="privacy-list__link">Site Map</a>
      </li>
    </ul>
  </div>
  <div class="footer__container">
    <p class="footer__copyright">© 2022 All Rights Reserved</p>
  </div>
</footer>
