<section class="free-packages">
  <div class="free-packages__container">
    <div class="free-packages__header">
      <h2 class="free-packages__title title"><span>Free</span> Packages</h2>
      <p class="free-packages__text">
        Join our communities to stand a chance to win our free offers to one of
        these tourist centers.
      </p>
    </div>

    <ul class="free-packages__list list-free-packages">
      <li class="list-free-packages__item">
        <div class="list-free-packages__description">
          <div class="list-free-packages__img-container" href="#">
            <img
              class="list-free-packages__image"
              src="./images/content/free-packages/colosseum.jpg"
              alt="Colloseum"
            />
          </div>
          <div class="list-free-packages__header">
            <div class="list-free-packages__name">
              <h3 class="list-free-packages__title">Colosseum</h3>
              <p class="list-free-packages__location">Rome</p>
            </div>
            <div class="list-free-packages__action">
              <div class="list-free-packages__like">
                <img src="./images/icons/heart.svg" alt="" />
              </div>
              <span class="list-free-packages__like-counter">4321</span>
            </div>
          </div>
          <p class="list-free-packages__text">
            The Colosseum is an oval amphitheatre in the centre of the city of
            Rome, Italy, just east of the Roman Forum. It is the largest ancient
            amphitheatre ever built, and is still the largest standing
            amphitheatre in the world today, despite its age.
          </p>
          <button class="list-free-packages__button">Join Community</button>
        </div>
      </li>
      <li class="list-free-packages__item">
        <div class="list-free-packages__description">
          <a class="list-free-packages__img-container">
            <img
              class="list-free-packages__image"
              src="./images/content/free-packages/grand-canyon.jpg"
              alt="Grand Canyon"
            />
          </a>
          <div class="list-free-packages__header">
            <div class="list-free-packages__name">
              <h3 class="list-free-packages__title">Grand Canyon</h3>
              <p class="list-free-packages__location">Arizona</p>
            </div>
            <div class="list-free-packages__action">
              <div class="list-free-packages__like">
                <img src="./images/icons/heart.svg" alt="" />
              </div>
              <span class="list-free-packages__like-counter">4321</span>
            </div>
          </div>
          <p class="list-free-packages__text">
            The Grand Canyon in Arizona is a natural formation distinguished by
            layered bands of red rock, revealing millions of years of geological
            history in cross-section. Vast in scale, the canyon averages 10
            miles across and a mile deep along its 277-mile length
          </p>
          <button class="list-free-packages__button">Join Community</button>
        </div>
      </li>
      <li class="list-free-packages__item">
        <div class="list-free-packages__description">
          <a class="list-free-packages__img-container">
            <img
              class="list-free-packages__image"
              src="./images/content/free-packages/christ-the-redeemer.jpg"
              alt="Christ The Redeemer"
            />
          </a>
          <div class="list-free-packages__header">
            <div class="list-free-packages__name">
              <h3 class="list-free-packages__title">Christ The Redeemer</h3>
              <p class="list-free-packages__location">Rio De Janeiro</p>
            </div>
            <div class="list-free-packages__action">
              <div class="list-free-packages__like">
                <img src="./images/icons/heart.svg" alt="" />
              </div>
              <span class="list-free-packages__like-counter">4321</span>
            </div>
          </div>
          <p class="list-free-packages__text">
            Christ the Redeemer is an Art Deco statue of Jesus Christ in Rio de
            Janeiro, Brazil, created by French sculptor Paul Landowski and built
            by Brazilian engineer Heitor da Silva Costa, in collaboration with
            French engineer Albert Caquot.
          </p>
          <button class="list-free-packages__button">Join Community</button>
        </div>
      </li>
      <li class="list-free-packages__item">
        <div class="list-free-packages__description">
          <div class="list-free-packages__img-container">
            <img
              class="list-free-packages__image"
              src="./images/content/free-packages/colosseum.jpg"
              alt=""
            />
          </div>
          <div class="list-free-packages__header">
            <div class="list-free-packages__name">
              <h3 class="list-free-packages__title">Colosseum</h3>
              <p class="list-free-packages__location">Rome</p>
            </div>
            <div class="list-free-packages__action">
              <div class="list-free-packages__like">
                <img src="./images/icons/heart.svg" alt="" />
              </div>
              <span class="list-free-packages__like-counter">4321</span>
            </div>
          </div>
          <p class="list-free-packages__text">
            The Colosseum is an oval amphitheatre in the centre of the city of
            Rome, Italy, just east of the Roman Forum. It is the largest ancient
            amphitheatre ever built, and is still the largest standing
            amphitheatre in the world today, despite its age.
          </p>
          <button class="list-free-packages__button">Join Community</button>
        </div>
      </li>
    </ul>
    <a href="#" class="explore__link link">See More</a>
  </div>
</section>
