<section class="get-in-touch">
  <div class="get-in-touch__container">
    <h2 class="get-in-touch__title title title--s26">Get In Touch With Us</h2>

    <div class="get-in-touch__content">
      <form class="get-in-touch__form form-get-in-touch">
        <h3 class="form-get-in-touch__title">Send us a message</h3>
        <div class="form-get-in-touch__text-inputs">
          <input
            type="text"
            class="form-get-in-touch__input"
            placeholder="First Name"
          />
          <input
            type="text"
            class="form-get-in-touch__input"
            placeholder="Last Name"
          />
        </div>
        <input
          type="email"
          class="form-get-in-touch__input"
          placeholder="Your Gmail"
        />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          class="form-get-in-touch__comment"
          placeholder="Message"
        ></textarea>
        <button type="submit" class="form-get-in-touch__submit-btn">
          Send
        </button>
      </form>

      <div class="get-in-touch__contacts contacts-get-in-touch">
        <h3 class="contacts-get-in-touch__title">Contact Info</h3>
        <ul class="contacts-get-in-touch__list">
          <li class="contacts-get-in-touch__item">
            <p class="contacts-get-in-touch__label">Phone:</p>
            <a href="#" class="contacts-get-in-touch__link">+234 70633822</a>
          </li>
          <li class="contacts-get-in-touch__item">
            <p class="contacts-get-in-touch__label">Email:</p>
            <a href="#" class="contacts-get-in-touch__link"
              >Stephenolushola5@gmail.com</a
            >
          </li>
          <li class="contacts-get-in-touch__item">
            <p class="contacts-get-in-touch__label">Socials</p>
            <ul class="contacts-get-in-touch__media-list">
              <li class="contacts-get-in-touch__media-item">
                <a href="#" class="contacts-get-in-touch__media-link"
                  ><svg
                    class="contacts-get-in-touch__media-icon"
                    width="24"
                    height="24"
                  >
                    <use
                      href="./images/icons/sprite.svg#icon-instagram"
                    ></use></svg
                ></a>
              </li>
              <li class="contacts-get-in-touch__media-item">
                <a href="#" class="contacts-get-in-touch__media-link"
                  ><svg
                    class="contacts-get-in-touch__media-icon"
                    width="24"
                    height="24"
                  >
                    <use
                      href="./images/icons/sprite.svg#icon-messenger"
                    ></use></svg
                ></a>
              </li>
              <li class="contacts-get-in-touch__media-item">
                <a href="#" class="contacts-get-in-touch__media-link"
                  ><svg
                    class="contacts-get-in-touch__media-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/icons/sprite.svg#icon-figma"></use></svg
                ></a>
              </li>
              <li class="contacts-get-in-touch__media-item">
                <a href="#" class="contacts-get-in-touch__media-link"
                  ><svg
                    class="contacts-get-in-touch__media-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/icons/sprite.svg#icon-be"></use></svg
                ></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
