<section class="hero">
  <div class="hero__container">
    <div class="hero__content content-hero">
      <h1 class="hero__title">
        <span>Discover <span>New</span></span> Experiences
      </h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet sem
        suspendisse tristique habitant consectetur cursus at. Leo in eget
        convallis nunc rhoncus nulla m
      </p>
      <div class="hero__action"><a href="#" class="hero__link button">Explore</a></div>
    </div>
    <div class="hero__wrapper-counter wrapper-counter-hero">
      <div class="wrapper-counter-hero__img-container">
        <picture class="wrapper-counter-hero__img">
          <source
            srcset="
              ./images/content/hero/desktop/eiffel-tower.jpg    1x,
              ./images/content/hero/desktop/eiffel-tower@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/content/hero/tablet/eiffel-tower.jpg    1x,
              ./images/content/hero/tablet/eiffel-tower@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/content/hero/mobile/eiffel-tower.png    1x,
              ./images/content/hero/mobile/eiffel-tower@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/content/hero/mobile/eiffel-tower.png"
            alt="Eiffel Tower"
          />
        </picture>

        <picture class="wrapper-counter-hero__img">
          <source
            srcset="
              ./images/content/hero/desktop/waterfall.jpg    1x,
              ./images/content/hero/desktop/waterfall@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/content/hero/tablet/waterfall.jpg    1x,
              ./images/content/hero/tablet/waterfall@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/content/hero/mobile/waterfall.png    1x,
              ./images/content/hero/mobile/waterfall@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/content/hero/mobile/waterfall.png"
            alt="Waterfall"
          />
        </picture>
        <picture class="wrapper-counter-hero__img">
          <source
            srcset="
              ./images/content/hero/desktop/rocks.jpg    1x,
              ./images/content/hero/desktop/rocks@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/content/hero/tablet/rocks.jpg    1x,
              ./images/content/hero/tablet/rocks@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <!-- <source
            srcset="
              ./images/content/hero/mobile/rocks.png    1x,
              ./images/content/hero/mobile/rocks@2x.png 2x
            "
            media="(max-width:767px)"
          /> -->
          <img src="./images/content/hero/tablet/rocks.jpg" alt="Rocks" />
        </picture>

        <div class="wrapper-counter-hero__description">
          <ul class="wrapper-counter-hero__list">
            <li class="wrapper-counter-hero__item">
              <p class="wrapper-counter-hero__name">Tourist</p>
              <p class="wrapper-counter-hero__count">25.5 K</p>
            </li>
            <li class="wrapper-counter-hero__item">
              <p class="wrapper-counter-hero__name">Tourist Guide</p>
              <p class="wrapper-counter-hero__count">2k+</p>
            </li>
            <li class="wrapper-counter-hero__item">
              <p class="wrapper-counter-hero__name">Tourist Center</p>
              <p class="wrapper-counter-hero__count">1.1K+</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
