<section class="partners">
  <div class="partners__container">
    <ul class="partners__list">
      <li class="partners__item">
        <img
          src="./images/content/partners/southwest.svg"
          alt="Logo Southwest"
        />
      </li>
      <li class="partners__item">
        <img
          src="./images/content/partners/qatar-airways.svg"
          alt="Logo Qatar Airways"
        />
      </li>
      <li class="partners__item">
        <img src="./images/content/partners/boeing.svg" alt="Logo Boeing" />
      </li>
      <li class="partners__item">
        <img src="./images/content/partners/united.svg" alt="Logo United" />
      </li>
    </ul>
  </div>
</section>
