<section class="recommendations">
  <div class="recommendations__container">
    <div class="swiper videoSwiper">
      <div class="swiper-wrapper videoSwiper__wrapper">
        <div class="swiper-slide videoSwiper__slide slide-videoSwiper">
          <div class="slide-videoSwiper__wrapper">
            <video
              id="my-video"
              class="video-js vjs-big-play-centered"
              controls
              preload="auto"
              width="930"
              height="461"
              poster="./images/content/recommendations/forbidden-city.jpg"
              data-setup="{}"
            >
              <source src="./videos/forbidden-city.mp4" type="video/mp4" />
            </video>
            <div
              class="slide-videoSwiper__description description-recommendations"
            >
              <h3 class="description-recommendations__title">Forbidden City</h3>
              <p class="description-recommendations__location">Beijing</p>
              <p class="description-recommendations__text">
                The Forbidden City (Chinese: 紫禁城; pinyin: Zǐjìnchéng) is a
                palace complex in Dongcheng District, Beijing, China, at the
                center of the Imperial City of Beijing. It is surrounded by
                numerous opulent imperial gardens and temples including the 22
                ha (54-acre) Zhongshan Park, the sacrificial Imperial Ancestral
                Temple, the 69 ha (171-acre) Beihai Park, and the 23 ha
                (57-acre) Jingshan ParkThe Forbidden City was constructed from
                1406 to 1420, and was the former Chinese imperial palace and
                winter residence of the Emperor of China from the Ming dynasty
                (since the Yongle Emperor) to the end of the Qing dynasty,
                between 1420 and 1924.
              </p>
              <button class="description-recommendations__button">
                Take a Tour
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide videoSwiper__slide slide-videoSwiper">
          <div class="slide-videoSwiper__wrapper">
            <video
              id="my-video"
              class="video-js vjs-big-play-centered"
              controls
              preload="auto"
              width="930"
              height="461"
              poster="./images/content/recommendations/forbidden-city.jpg"
              data-setup="{}"
            >
              <source src="./videos/forbidden-city.mp4" type="video/mp4" />
            </video>
            <div
              class="slide-videoSwiper__description description-recommendations"
            >
              <h3 class="description-recommendations__title">Forbidden City</h3>
              <p class="description-recommendations__location">Beijing</p>
              <p class="description-recommendations__text">
                The Forbidden City (Chinese: 紫禁城; pinyin: Zǐjìnchéng) is a
                palace complex in Dongcheng District, Beijing, China, at the
                center of the Imperial City of Beijing. It is surrounded by
                numerous opulent imperial gardens and temples including the 22
                ha (54-acre) Zhongshan Park, the sacrificial Imperial Ancestral
                Temple, the 69 ha (171-acre) Beihai Park, and the 23 ha
                (57-acre) Jingshan ParkThe Forbidden City was constructed from
                1406 to 1420, and was the former Chinese imperial palace and
                winter residence of the Emperor of China from the Ming dynasty
                (since the Yongle Emperor) to the end of the Qing dynasty,
                between 1420 and 1924.
              </p>
              <button class="description-recommendations__button">
                Take a Tour
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide videoSwiper__slide slide-videoSwiper">
          <div class="slide-videoSwiper__wrapper">
            <video
              id="my-video"
              class="video-js vjs-big-play-centered"
              controls
              preload="auto"
              width="930"
              height="461"
              poster="./images/content/recommendations/forbidden-city.jpg"
              data-setup="{}"
            >
              <source src="./videos/forbidden-city.mp4" type="video/mp4" />
            </video>
            <div
              class="slide-videoSwiper__description description-recommendations"
            >
              <h3 class="description-recommendations__title">Forbidden City</h3>
              <p class="description-recommendations__location">Beijing</p>
              <p class="description-recommendations__text">
                The Forbidden City (Chinese: 紫禁城; pinyin: Zǐjìnchéng) is a
                palace complex in Dongcheng District, Beijing, China, at the
                center of the Imperial City of Beijing. It is surrounded by
                numerous opulent imperial gardens and temples including the 22
                ha (54-acre) Zhongshan Park, the sacrificial Imperial Ancestral
                Temple, the 69 ha (171-acre) Beihai Park, and the 23 ha
                (57-acre) Jingshan ParkThe Forbidden City was constructed from
                1406 to 1420, and was the former Chinese imperial palace and
                winter residence of the Emperor of China from the Ming dynasty
                (since the Yongle Emperor) to the end of the Qing dynasty,
                between 1420 and 1924.
              </p>
              <button class="description-recommendations__button">
                Take a Tour
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next videoSwiper__swiper-button-next"></div>
      <div class="swiper-button-prev videoSwiper__swiper-button-prev"></div>
    </div>
  </div>
</section>
