<section class="services">
  <div class="services__container">
    <div class="services__header">
      <img src="./images/icons/logo.svg" alt="Logo" />
      <h2 class="services__title title"><span>Services</span></h2>
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__img-container">
            <img
              class="swiper-slide__img"
              src="./images/content/services/hotel.jpg"
              alt="Hotel with Pool"
            />
          </div>
          <div class="swiper-slide__description">
            <h3 class="swiper-slide__title">Best Hotels</h3>
            <p class="swiper-slide__text">
              Lorem ipsum dolor sit acus nulla mLorem ipsum dolor sit acus nulla
              m
            </p>
          </div>
          <span class="swiper-slide__count">01</span>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__img-container">
            <img
              class="swiper-slide__img"
              src="./images/content/services/guide.jpg"
              alt="Tourist Guide"
            />
          </div>
          <div class="swiper-slide__description">
            <h3 class="swiper-slide__title">Tourist Guide</h3>
            <p class="swiper-slide__text">
              Lorem ipsum dolor sit acus nulla mLorem ipsum dolor sit acus nulla
              m
            </p>
          </div>
          <span class="swiper-slide__count">02</span>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__img-container">
            <img
              class="swiper-slide__img"
              src="./images/content/services/ticket.jpg"
              alt="Flight Ticket"
            />
          </div>
          <div class="swiper-slide__description">
            <h3 class="swiper-slide__title">Flight Tickets</h3>
            <p class="swiper-slide__text">
              Lorem ipsum dolor sit acus nulla mLorem ipsum dolor sit acus nulla
              m
            </p>
          </div>
          <span class="swiper-slide__count">03</span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
