.explore {
  padding-top: 56px;
  padding-bottom: 32px;
  background-image: url('../images/backgrounds/explore/mobile/explore-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include retina {
    background-image: url('../images/backgrounds/explore/mobile/explore-bg@2x.jpg');
  }

  @include tablet {
    background-image: url('../images/backgrounds/explore/tablet/explore-bg.jpg');

    @include retina {
      background-image: url('../images/backgrounds/explore/tablet/explore-bg@2x.jpg');
    }
  }

  @include desktop {
    padding-top: 79px;
    background-image: url('../images/backgrounds/explore/desktop/explore-bg.jpg');

    @include retina {
      background-image: url('../images/backgrounds/explore/desktop/explore-bg@2x.jpg');
    }
  }

  &__container {
    text-align: center;
  }

  &__title {
    margin-bottom: 25px;
    text-align: center;

    @include tablet {
      margin-bottom: 29px;
    }
  }

  &__text {
    margin-bottom: 42px;

    font-size: 14px;
    line-height: 1.3;
    text-align: center;

    @include tablet {
      font-size: 17px;
      max-width: 610px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-top: 42px;
    padding-bottom: 10px;
    transition: color $primaryTransition;

    &:hover,
    &:focus {
      color: $accentColor;
    }

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $accentColor;
      transition: width $primaryTransition;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}

//--------------------------------

.list-explore {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @include tablet {
    column-gap: 10px;
    row-gap: 23px;
  }

  @include desktop {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr auto auto;
  }

  &__item {
    background-color: rgba(254, 245, 245, 0.09);
    backdrop-filter: blur(39px);
    border-radius: 10px;

    &--big {
      grid-column: span 2;
      grid-row: span 2;
    }

    &--big1 {
      grid-column: span 2;
    }
  }

  &__picture {
    overflow: hidden;
    border-radius: 10px;
  }

  &__img {
    border-radius: 9px;
    transition: transform $primaryTransition;
  }

  &__link {
    padding: 23px 16px;
    height: 100%;
    width: 100%;
    display: inline-block;

    @include desktop {
      padding: 13px 16px;
      display: flex;
      flex-direction: column;

      &--flex {
        flex-direction: row;
        gap: 21px;
      }
    }

    &:hover .list-explore__img {
      transform: scale(1.02);
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    position: relative;

    @include tablet {
      padding-top: 22px;
    }

    @include desktop {
      gap: 7px;
      flex-wrap: wrap;
      padding-top: 12px;
    }
  }

  &__title {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #f3f3f3;

    @include tablet {
      margin-bottom: 22px;
    }
  }

  &__location {
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #f3f3f3;
    display: flex;
    align-items: center;
    gap: 6px;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 19px;
    }

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url('../images/icons/location-tick.svg');
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--position {
      flex: 0 1 auto;
      margin-left: auto;
    }
  }
  &__like {
    margin-bottom: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #494949;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__like-counter {
    font-size: 12px;
    line-height: 1.5;

    letter-spacing: 0.01em;
  }
}

// --------------------------
